DLND-your-first-network/dlnd-your-first-neural-network.zip
fast-style-transfer-master-credit-lengstrom
play/sentiment-analysis-with-TFLearn/.ipynb_checkpoints/Sentiment Analysis with TFLearn-checkpoint.ipynb
*.gz
play/digit-recognition-with-tflearn/.ipynb_checkpoints/Handwritten Digit Recognition with TFLearn-checkpoint.ipynb
sentiment-network/.ipynb_checkpoints/Sentiment Classification - Mini Project 6-checkpoint.ipynb
play/sentiment-analysis-with-TFLearn/Sentiment Analysis with TFLearn.ipynb
image-classification-project-2/.ipynb_checkpoints/dlnd_image_classification-checkpoint.ipynb
image-classification-project-2/cifar-10-batches-py/data_batch_1
*.p
*.pyc
cifar-10-batches-py
*.index
*.db
*.meta
*.data
*.data*
*.db
image-classification-project-2/ignore-submissions/submission1.zip
